<!DOCTYPE html>
<html>
<head>
    <title>Home assignment managment system</title>
</head>
<body>
    <table style="padding: 20px;" bgcolor="#f6f6f6">
        <tr>
            <td></td>
            <td style="padding: 20px; clear: both !important; display: block !important; margin: 0 auto !important; max-width: 600px !important;" bgcolor="#FFFFFF">
                <!-- content -->
                <div style="display: block; margin: 0 auto; max-width: 600px;">
                    <table>
                        <tr>
                            <td>
                                <div style="width: 104px; height: 120px; float: right;">
                                    <img src='http://cs633423.vk.me/v633423269/2a2fd/bMWYpznXHZw.jpg' width="100" height="100" alt='Тут має бути лого'>
                                </div>
                                <div>
                                    <p>Hello, UserFullName!</p>
                                    <p>Thank you for registering at HAMS.</p>
                                    <h3>Please, wait till your account will be approved.</h3>
                                    <p>Your Login: UserEmail</p>
                                    <hr />
                                    <p>Have a nice day.</p>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- /content -->

            </td>
            <td></td>
        </tr>
    </table>
</body>
</html>
